Flask
Flask-SQLAlchemy
Flask-Login
Flask-Migrate
Flask-WTF
Flask-Mail
Flask-RESTful
Flask-Cors
Flask-JWT-Extended
marshmallow-sqlalchemy
python-dotenv
SQLAlchemy
Werkzeug
PyJWT
bcrypt
pytest
black
flake8
python-dateutil
Pillow
redis
celery
gunicorn
